{{- if .Values.service.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: esddns-service
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "esddns-operator.labels" . | nindent 4 }}
    app: esddns-service
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "esddns-operator.selectorLabels" . | nindent 4 }}
    app: esddns-service
{{- end }}
