apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: esddns-operator-daemon
spec:
  template:
    metadata:
      annotations:
        deployment.kubernetes.io/revision: "1"
    spec:
      containers:
      - name: esddns-operator
        env:
        - name: KOPF_LOG_LEVEL
          value: "DEBUG"
        resources:
          requests:
            memory: "128Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "200m"
