apiVersion: apps/v1
kind: Deployment
metadata:
  name: esddns-service
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: esddns-web
        resources:
          requests:
            memory: "128Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "200m"
