<!-- homepage.html -->

<!doctype html>

<html lang="en">

<head>
    <title>ESDDNS</title>

</head>
<body>
    <pre>
    --------------|----|----------          
    ,---.,---.,---|,---|,---.,---.
    |---'`---.|   ||   ||   |`---.
    `---'`---'`---'`---'`   '`---'
              For Emil and Stella!
    
    Welcome to ESDDNS Web-Service mode!

    ESDDNS is an Open Source solution to automatically synchronize public 
    WAN IPv4 address with a target DNS A Record when there is a configuration drift 
    due to IPv4 address changes. 
    
    Creates and manages dynamic states for WAN IPv4 and DNS Record.  
    Utilizes dynamic public WAN IPv4 address discovered and retrieved from 
    external IPv4 check services, automatically synchronizes it with 
    managed DNS A record via REST APIs.

    <hr>
    Current ESDDNS State:
    <em>
    State Poll Date: <u>{{ st["poll_date"] }}</u>
    WAN IP State: 
        Is IP address usable?: {{ st["wan_ip_state"]["usable"] }}
        Your WAN IPv4 address: <u><mark>{{ st["wan_ip_state"]["IP"] }}</mark></u>
    DNS Record State: 
        Is DNS Record in sync?: {{ st["record_state"]["in_sync"] }}
        Recordset Data:
            Record Set Name: {{ st["record_state"]["record_data"]["rrset_name"] }}
            Record Set Type: {{ st["record_state"]["record_data"]["rrset_type"] }}
            Record Set Time To Live: {{ st["record_state"]["record_data"]["rrset_ttl"] }}
            Record Set Values: <u><mark>{{ st["record_state"]["record_data"]["rrset_values"] }}</mark></u>
            Record Set HREF: {{ st["record_state"]["record_data"]["rrset_href"] }}
        </em>
    <hr>
    <!-- <small> -->
    MIT License

    Copyright (c) 2023 <a href="mailto:aziz@platformrnd.com">Aziz Kurbanov</a>
    
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
    
    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.
    
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
    <!-- </small>         -->
    </pre>
    
</p>
</body>